/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Main CSS Documentation:
----------------------------------------------------------------
1.0 Page
2.0 Cover
3.0 Custom
--------------------------------------------------------------*/

// 1.0 page
.main {
    position: relative;
    &__itemleft {
        background-repeat: repeat-y;
        position: absolute;
        background-image: url(../images/bgitemleft1.png);
        left: 0;
        top: 0;
        width: 300px;
        max-width: 100%;
        height: 100%;
        z-index: -1;
        img {
            position: relative;
        }
        @include range-responsive($lg, $xlg) {
            width: 250px;
            max-width: 100%;
        }
        @include max-responsive($sm) {
            background-size: 100%;
            width: 68px;
        }
    }
    &__itemright {
        background-repeat: repeat-y;
        position: absolute;
        background-image: url(../images/bgitemright1.png);
        right: 0;
        top: 0%;
        width: 300px;
        height: 100%;
        z-index: -1;
        @include range-responsive($lg, $xlg) {
            width: 250px;
            max-width: 100%;
        }
        @include max-responsive($sm) {
            background-size: 100%;
            width: 68px;
        }
        img {
            position: relative;
            z-index: -1;
        }
    }
    &__banner {
        z-index: 5;
        position: relative;
        img {
            width: 100%;
        }
        @include max-responsive($sm) {
            display: none;
        }
    }
    &__bannermobile {
        display: none;
        width: 100%;
        z-index: 5;
        position: relative;
    
        img {
            width: 100%;
        }
        @include max-responsive($sm) {
            display: block;
        }
    }
}

.content {
    position: relative;
    &__item {
        text-align: center;
        @include max-responsive($sm) {
           margin-bottom: 12%;
        }
        &--bg {
            border-radius: 20px;
            opacity: 0.8;
            left: 0;
            right: 0;
            margin: auto;
            @include max-responsive($sm) {
                width: 100%;
            }
        }
        &--1 {
            text-align: center;
            margin-bottom: -18px;
            img {
                width: 100px;
                max-width: 100%;
            }
        }
        &--2 {
            button {
                border: 3px solid #000000;
                border-radius: 5px;
                // position: relative;
                color: #000000;
                background: #fff;
                padding: 5px 10px;
                font-size: 25px;
                margin-bottom: 30px;
                margin-top: -70px;
                &:hover {
                    background: #415FFF;
                    border: 3px solid #000000;
                    color: #fff;
                }
                &:before {
                    position: absolute;
                    content: '';
                    height: 40px;
                    width: 3px;
                    background-color: #000000;
                    bottom: 101px;
                    border-radius: 3px;
                    left: 50%;
                    z-index: -1;
                    @include max-responsive($sm) {
                        height: 38px;
                        bottom: 72px;
                    }
                }
            }
        }
        &--3 {
            color: #D6489D;
            font-size: 39px;
            font-weight: 450;
            text-align: center;
            @include max-responsive($sm) {
                font-size: 25px;
            }
        }
        &--4 {
            color: #000000;
            font-size: 21px;
            margin-top: -30px;
            padding-bottom: 3px;
            @include max-responsive($sm) {
                font-size: 12px;
                margin-top: -23px;
                font-weight: bold;
            }
        }
        &--5 {
            margin-bottom: 6%;
            &:before {
                position: absolute;
                content: '';
                height: 78px;
                width: 3px;
                background-color: #000000;
                bottom: -72px;
                border-radius: 3px;
                z-index: -10;
                left: 0;
                right: 0;
                margin: auto;
                opacity: 1;
            }
        }
    }
    &__box {
        position: relative;
        height: auto;
        background: #fff;
        margin-bottom: 10%;
        border-radius: 20px;
        z-index: 1;
        border: 8px solid transparent;
        background-image: linear-gradient(229deg, #C7F9FF, #C7F9FF), linear-gradient(229deg, #F4A433 0%, #F4A433 32%, #7EE0EA 50%, #EE3197 65%, #EE3197 100%);
        background-repeat: no-repeat;
        background-size: 0% 0%, 100% 500%;
        background-position: 0 0, 0 100%;
        background-origin: padding-box, border-box;
        animation: highlight 3s infinite alternate;
        box-shadow: 0px 3px 6px #00000029;
        @include max-responsive($sm) {
            border: 6px solid transparent;
            border-radius: 25px;
        }
        &__bg {
            // background: #F8EFFF;
            background: #f8e7f1;
            border-radius: 20px;
            padding-bottom: 5px;
        }
        &__item1 {
            // margin-bottom: -86px;
            position: relative;
            z-index: 2;
            img {
                width: 100%;
                border-radius: 20px;
                height: auto;
                @include max-responsive($sm) {
                    height: auto;
                }
            }
        }
        &__item2 {
            position: relative;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 20px;
            padding: 20px;
            margin: 20px;
            z-index: 5;
            &--title {
                letter-spacing: 0;
                color: #000000;
                font-size: 26px;
                font-weight: bold;
                text-align: left;
                margin-top: -10px;
                p {
                    background: -webkit-radial-gradient(#f37e6c, #e04899, #9946b5);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                @include max-responsive($sm) {
                    font-size: 18px;
                }
            }
            &--time {
                color: #590e9a;
                margin-top: -15px;
                margin-bottom: 10px;
                font-size: 16px;
                @include max-responsive($sm) {
                    font-size: 12px;
                }
            }
            &--subtitle {
                // font-weight: 500;
                font-size: 18px;
                color: #c11f53  ;
                @include max-responsive($sm) {
                    font-size: 12px;
                }
            }
            &--readmore {
                color: #fff;
                text-align: center;
                background: transparent linear-gradient(9deg, #ED813B 0%, #F64A91 46%, #8545BD 100%) 0% 0% no-repeat padding-box;
                border-radius: 25px;
                padding: 10px;
                cursor: pointer;
                &:hover {
                    transition: 0.5s;
                    background: transparent linear-gradient(9deg, #8545BD 0%, #F64A91 46%, #ED813B 100%, ) 0% 0% no-repeat padding-box;
                }
            }
        }
    }
}

@keyframes highlight {
    100% {
        background-position: 0 0, 0 0;
    }
}

.time {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #DB9900;
}

.bg {
    @include max-responsive($sm) {
        display: none;
    }
    &__item1 {
        position: absolute;
        z-index: -10;
        float: right;
        right: 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
        background-position-x: 25%;
        background-position-x: left;
        img {
            width: 100%;
        }
        @include max-responsive($sm) {
            display: none;
        }
    }
    &__item2 {
        position: absolute;
        z-index: -15;
        img {
            width: 100%;
        }
    }
}

// 
.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 3px;
    height: 100%;
    margin-left: -1px;
    background: #000000;
    z-index: -2;
}

.timelineContent,
.timelineContent {
    float: none;
    width: 100%;
}

.loadmore {
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    button {
        background: #415FFF;
        color: #fff;
        border: none;
        padding: 10px 70px;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        &:hover {
            background: #fff;
            border: 1px solid #415FFF;
            color: #415FFF;
        }
    }
}

.readmore {
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    background: #415FFF;
    color: #fff;
    border: none;
    padding: 10px 70px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    &:hover {
        background: #fff;
        border: 1px solid #415FFF;
        color: #415FFF;
    }
}

.new {
    float: right;
    z-index: 1;
    margin-right: 10px;
    margin-top: -40px;
    @include max-responsive($sm) {
        float: left;
        font-weight: bold;
        margin-right: 10px;
        margin-top: 0px;
    }
    button {
        background: #415FFF;
        border: none;
        color: #FFF;
        padding: 15px 20px;
        position: absolute;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        &:hover {
            background: #fff;
            border: 1px solid #415FFF;
            color: #415FFF;
        }
    }
}

@-webkit-keyframes intervalHamburgerBorder {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}

@keyframes intervalHamburgerBorder {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}