/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Main CSS Documentation:
----------------------------------------------------------------
1.0 Page
2.0 Cover
3.0 Custom
--------------------------------------------------------------*/

// 1.0 page
.main {
    position: relative;
    &__itemleft {
        position: fixed;
        left: 0;
        top: -0%;
        @include max-responsive($sm) {
            width: 170px;
        }
        img {
            position: relative;
            z-index: -1;
        }
    }
    &__itemright {
        position: fixed;
        right: 0;
        top: -0%;
        @include max-responsive($sm) {
            width: 170px;
        }
        img {
            position: relative;
            z-index: -1;
        }
    }
    &__banner {
        z-index: 5;
        position: relative;
        // height: 645px;
        background: #FFF;
        border-radius: 0px 0px 1000px 1000px/0px 0px 250px 250px;
        box-shadow: 0px 3px 6px #00000029;
        img {
            border-radius: 0px 0px 1000px 1000px/0px 0px 250px 250px;
            width: 100%;
        }
        @include max-responsive($sm) {
            display: none;
        }
    }
    &__bannermobile {
        display: none;
        width: 100%;
        z-index: 5;
        position: relative;
        background: #FFF;
        border-radius: 0px 0px 800px 800px/0px 0px 250px 250px;
        box-shadow: 0px 3px 6px #00000029;
        img {
            width: 100%;
        }
        @include max-responsive($sm) {
            display: block;
        }
    }
}

.content {
    position: relative;
    &__item {
        text-align: center;
        &--bg {
            border-radius: 20px;
            opacity: 0.8;
            left: 0;
            right: 0;
            margin: auto;
            @include max-responsive($sm) {
                width: 100%;
            }
        }
        &--2 {
            button {
                border: 1px solid #fff;
                border-radius: 5px;
                color: #fff;
                background: transparent;
                padding: 5px 10px;
                font-size: 25px;
                margin-bottom: 40px;
                &:hover {
                    background: #415FFF;
                    border: 1px solid #fff;
                    color: #fff;
                }
                &:before {
                    position: absolute;
                    content: '';
                    height: 46px;
                    width: 2px;
                    background-color: #fff;
                    bottom: 84px;
                    border-radius: 3px;
                    left: 50%;
                    @include max-responsive($sm) {
                        height: 38px;
                        bottom: 72px;
                    }
                }
            }
        }
        &--3 {
            color: #D6489D;
            font-size: 44px;
            font-weight: bold;
            text-align: center;
            margin-top: 7%;
            @include max-responsive($sm) {
                font-size: 25px;
            }
        }
        &--4 {
            color: #000000;
            font-size: 21px;
            margin-top: -30px;
            @include max-responsive($sm) {
                font-size: 12px;
                margin-top: -23px;
                font-weight: bold;
            }
        }
        &--5 {
            // position: relative;
            // width: 41px;
            // height: 41px;
            // background: #FFFFFF 0% 0% no-repeat padding-box;
            // border: 4px solid #693900;
            // border-radius: 50%;
            // left: 0;
            // right: 0;
            // margin: auto;
            margin-bottom: 6%;
            &:before {
                position: absolute;
                content: '';
                height: 78px;
                width: 4px;
                background-color: #693900;
                bottom: -72px;
                border-radius: 3px;
                z-index: -10;
                left: 0;
                right: 0;
                margin: auto;
                opacity: 1;
            }
            // &:after {
            //     position: absolute;
            //     content: '';
            //     width: 11px;
            //     height: 11px;
            //     background: #FF0000 0% 0% no-repeat padding-box;
            //     top: 12px;
            //     left: 12px;
            //     border-radius: 50%;
            //     z-index: 1;
            //     left: 0;
            //     right: 0;
            //     margin: auto;
            // }
        }
    }
    &__box {
        position: relative;
        border: 5px solid transparent;
        height: auto;
        padding-bottom: 5px;
        margin-bottom: 10%;
        // border-radius: 50px 50px;
        z-index: 1;
        border: 5px solid transparent;
        background-image: linear-gradient(#C7F9FF, #C7F9FF), linear-gradient(229deg, #F4A433 0%, #F4A433 32%, #7EE0EA 50%, #EE3197 65%, #EE3197 100%);
        background-repeat: no-repeat;
        background-size: 100% 100%, 100% 200%;
        background-position: 0 0, 0 100%;
        background-origin: padding-box, border-box;
        animation: highlight 3s infinite alternate;
        &__item1 {
            margin-bottom: -86px;
            position: relative;
            z-index: 2;
            img {
                width: 100%;
                // border-radius: 50px;
                height: 382px;
                @include max-responsive($sm) {
                    height: auto;
                }
            }
        }
        &__item2 {
            position: relative;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 20px;
            padding: 20px;
            margin: 20px;
            z-index: 5;
            &--title {
                letter-spacing: 0;
                color: #693900;
                font-size: 24px;
                font-weight: bold;
                text-align: left;
                margin-top: -10px;
                @include max-responsive($sm) {
                    font-size: 18px;
                }
            }
            &--time {
                color: #F59425;
                margin-top: -15px;
                margin-bottom: 10px;
                font-size: 16px;
                @include max-responsive($sm) {
                    font-size: 12px;
                }
            }
            &--subtitle {
                font-weight: 500;
                font-size: 18px;
                @include max-responsive($sm) {
                    font-size: 12px;
                }
            }
            &--readmore {
                color: #fff;
                text-align: center;
                background: transparent linear-gradient(6deg, #ED813B 0%, #F64A91 46%, #8545BD 100%) 0% 0% no-repeat padding-box;
                border-radius: 25px;
                padding: 10px;
            }
        }
    }
}

@keyframes highlight {
    100% {
        background-position: 0 0, 0 0;
    }
}

.time {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #DB9900;
}

.bg {
    @include max-responsive($sm) {
        display: none;
    }
    &__item1 {
        position: absolute;
        z-index: -10;
        float: right;
        right: 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
        background-position-x: 25%;
        background-position-x: left;
        img {
            width: 100%;
        }
        @include max-responsive($sm) {
            display: none;
        }
    }
    &__item2 {
        position: absolute;
        z-index: -15;
        img {
            width: 100%;
        }
    }
}

// 
.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.timeline:before {
    position: absolute;
    left: 49.9%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 100%;
    margin-left: -1px;
    background: #693900;
    z-index: -2;
}

.timelineContent,
.timelineContent {
    float: none;
    width: 100%;
}

.loadmore {
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    button {
        background: #415FFF;
        color: #fff;
        border: none;
        padding: 10px 70px;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        &:hover {
            background: #fff;
            border: 1px solid #415FFF;
            color: #415FFF;
        }
    }
}

.readmore {
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    background: #415FFF;
    color: #fff;
    border: none;
    padding: 10px 70px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    &:hover {
        background: #fff;
        border: 1px solid #415FFF;
        color: #415FFF;
    }
}

.new {
    float: right;
    z-index: 1;
    margin-right: 10px;
    margin-top: -40px;
    @include max-responsive($sm) {
        float: left;
        font-weight: bold;
        margin-right: 10px;
        margin-top: 0px;
    }
    button {
        background: #415FFF;
        border: none;
        color: #FFF;
        padding: 15px 20px;
        position: absolute;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        &:hover {
            background: #fff;
            border: 1px solid #415FFF;
            color: #415FFF;
        }
    }
}

@-webkit-keyframes intervalHamburgerBorder {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}

@keyframes intervalHamburgerBorder {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}